extends layout

block content
    header
        .header-content
            .header-content-inner
                .jumbotron.my-jumbotron
                    h1 Добре дошли в Салон за красота "Нелита"
                    hr
                    p Заповядайте всеки ден от вторник до неделя :)
                    //a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More