extends ../layout

block content
    .container
        .col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-sign-in
                |  Смяна на парола
            if message.length > 0
                .alert.alert-danger= message

            form(action='/auth/changePassword', method='post')
                .form-group
                    label Стара парола
                    input.form-control(type='password', name='oldPassword', required)
                .form-group
                    label Нова парола
                    input.form-control(type='password', name='newPassword', required)
                .form-group
                    label Потвърждение на паролата
                    input.form-control(type='password', name='confirmPassword', required)
                button.btn.btn-warning.btn-lg(type='submit') ОК